<!--include header-->
<%-include('include/_header')%>
<!--/include header-->



     <!--main site Certificate-->
     <main id="site-main">
        <div class="container">

<div class="fillter">
<a class="cls" href="/" ><i class="fas fa-angle-double-left"></i> All Users</a>
        </div>
<div class="form-title text-center">
<h2 class="text-dark"> Update User</h2>
<span class="text-light">use the form  below to update an account</span>
</div>
        <!--update user form-->
         <!--form handling-->
  <form method="post" id="update_user">
    <div class="new_user">
        <div class="form-group"><br>
            <label for="certificate" >Certificate:</label>
            <input type="text" name="certificate" placeholder="Certificate">
        
        <div class="form-group"><br>
            <input type="submit"id="btn" name="submit-btn" value="Save">
            <input type="reset" id="btn" name="reset-btn" value="Clear">
        </div> 

    </div>
</div>
    </form>
     <!--/form handling-->
     <!--/update user form-->
</div>
    </main>
 <!--/main site Certificate-->


<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer--> 