  <!--form handling-->
  <form method="post" id="update_user">
    <div class="new_user">
        <div class="form-group"><br>
            <label for="certificate" >Certificate:</label>
            <input type="text" name="certificate" placeholder="Certificate">
        
        <div class="form-group"><br>
            <input type="submit"id="btn" name="submit-btn" value="Save">
            <input type="reset" id="btn" name="reset-btn" value="Clear">
        </div> 

    </div>
</div>
    </form>
     <!--/form handling-->