<tr>
    <td>1128</td>
    <td><a href="/" class="btn border-shadow update"></a>
    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    <a href="/" class="btn border-shadow delete"></a>
        <span class="text-gradient"><i class="fas fa-times"></i></span>
</td>
</tr>